.feedback-form {
  margin-top: 16px;
  padding-bottom: 7px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    padding: 0 60px;
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.feedback-form__fieldset {
  .list-style();

  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 5px;

  border: none;
  border-top: 1px solid @light-grey;

  &--attractions-info {
    //padding-top: 28px;
    margin-bottom: 0;
    padding: 0 20px;
  }

  &--impression-info {
    margin-bottom: 18px;
    margin-top: 11px;
  }

  @media (min-width: @tablet-width) {
    &--impression-info {
      width: 50%;
      order: 1;
      //padding-bottom: 0;
      //padding-top: 24px;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 20px;

      border-top: none;
      border-right: 1px solid @light-grey;
    }

    &--person-info {
      width: 50%;
      order: 2;
      //padding-bottom: 0;
      padding-left: 57px;
      padding-right: 0;
      //padding-top: 24px;

      border-top: none;
    }

    &--contact-info {
      width: 100%;
      order: 3;
      margin-top: 48px;
      margin-bottom: 55px;
      padding: 0;
    }

    &--attractions-info {
      width: 100%;
      order: 4;
      margin-bottom: 46px;
    }
  }

  @media (min-width: @desktop-width) {
    &--person-info {
      padding-left: 80px;
    }

    &--impression-info {
      //padding-top: 10px;
      padding-left: 80px;
      margin-bottom: 14px;
    }

    &--contact-info {
      margin-top: 50px;
      margin-bottom: 51px;
    }

    &--attractions-info {
      padding: 0;
      margin-bottom: 43px;
    }
  }
}

.feedback-form__legend {
  .title-style();

  text-align: center;
  display: block;
  //padding-bottom: 21px;
  margin-top: 16px;
  margin-bottom: 23px;

  &--emotion-info {
    margin-bottom: 18px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    //padding: 0 40px;
    position: relative;
    max-width: 400px;
    background-color: #ffffff;

    &--person-info {
      text-align: left;
      margin-top: 24px;
      //padding: 0 59px;
    }

    &--contact-info {
      top: -13px;
    }

    &--attractions-info {
      top: -24px;
    }

    &--emotion-info {
      top: -13px;
      margin-bottom: 45px;
    }

    &--impression-info {
      text-align: left;
      margin-top: 24px;
    }
  }

  @media (min-width: @desktop-width) {
    &--person-info {
      margin-top: 12px;
    }

    &--impression-info {
      margin-top: 9px;
    }
  }
}

.feedback-form__item {
  margin-bottom: 20px;

  &--tel {
    position: relative;

    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 26px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      align-items: baseline;
      width: 50%;
      padding-right: 76px;
      box-sizing: border-box;
    }
  }

  &--email {
    position: relative;

    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      align-items: baseline;
      width: 50%;
      margin-left: 4px;
      box-sizing: border-box;
    }
  }

  &--person-info {
    display: flex;
    align-items: center;
  }

  &--attractions-info {
    padding: 11px 19px 36px 0;
    margin-bottom: 6px;
    text-transform: none;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      width: 50%;
      margin-bottom: 15px;

      &:nth-child(1) {
        padding-left: 78px;
      }

      &:nth-child(2) {
        padding-left: 31px;
      }

      &:nth-child(3) {
        padding-left: 78px;
      }

      &:nth-child(4) {
        padding-left: 31px;
      }
    }

    @media (min-width: @desktop-width) {
      width: 25%;
      flex-grow: 1;
      padding-right: 0;

      &:nth-child(1) {
        padding-left: 0;
      }

      &:nth-child(2) {
        padding-left: 20px;
      }

      &:nth-child(3) {
        padding-left: 40px;
      }

      &:nth-child(4) {
        padding-left: 37px;
      }
    }
  }

  &--impression-info {
    padding: 17px 19px 20px 3px;
    margin-bottom: 6px;

    @media (min-width: @tablet-width) {
      margin-bottom: 12px;
      //padding-left: 38px;
      padding-top: 18px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 19px;
      padding-left: 0;
    }
  }
}

.feedback-form__attractions-info {
  .title-style();
  .list-style();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
}

.feedback-form__contact-info {
  .list-style();

  @media (min-width: @tablet-width) {
    margin-top: 12px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-top: 59px;
  }
}

.feedback-form__input--radio + .feedback-form__label {
  padding-left: 74px;

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.feedback-form__input--radio:checked + .feedback-form__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 15px;

  display: block;
  width: 22px;
  height: 22px;

  border-radius: 50%;
  background-color: #333333;

  @media (min-width: @desktop-width) {
    left: -60px;
  }
}

.feedback-form__input--radio:checked + .feedback-form__label:active::after {
  opacity: 0.3;
}

.feedback-form__input--checkbox:checked + .feedback-form__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 15px;

  display: block;
  width: 22px;
  height: 22px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.feedback-form__input--checkbox:checked + .feedback-form__label:active::after {
  opacity: 0.3;
}

.feedback-form__label {
  margin-right: 15px;

  &--contact-info {
    margin-bottom: 6px;
    margin-left: 21px;
    display: block;
    white-space: nowrap;

    @media (min-width: @tablet-width) {
      margin-left: 22px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 0;
    }
  }

  &--impression-info {
    margin-right: 0;
    position: relative;
    font-size: 18px;

    @media (min-width: @tablet-width) {
      font-size: 18px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -3px;

      display: block;
      width: 56px;
      height: 56px;

      border-radius: 50%;
      background-color: #f2f2f2;

      @media (min-width: @desktop-width) {
        left: -80px;
      }
    }

    &:hover::before {
      background-color: #e5e5e5;
    }

    &:active::before {
      background-color: #d5d5d5;
    }
  }

  &--attractions-info {
    position: relative;
    padding-left: 79px;

    font-size: 18px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -3px;

      display: block;
      width: 56px;
      height: 56px;

      border-radius: 5px;
      background-color: #f2f2f2;
    }

    &:hover::before {
      background-color: #e5e5e5;
    }

    &:active::before {
      background-color: #d5d5d5;
    }
  }
}

.feedback-form__impression-info {
  .title-style();
  .list-style();

  margin-top: -3px;

  text-transform: none;


  @media (min-width: @tablet-width) {
    margin-top: 56px;
  }
}

.feedback-form__person-info {
  .list-style();

  @media (min-width: @tablet-width) {
    margin-top: 59px;
  }
}

.feedback-form__input {
  line-height: 26px;
  font-size: 18px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", serif;

  padding: 12px 16px 12px;

  background-color: @light-grey;
  outline: none;
  border: 4px solid @light-grey;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border-color: #e5e5e5;
  }

  &::placeholder {
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: "PT Sans", "Arial", serif;
  }

  &--textarea {
    width: 100%;
    box-sizing: border-box;
    height: 158px;

    resize: none;
  }

  &--tel {
    width: 100%;
    box-sizing: border-box;

    &::before {
      content: "";
      display: block;
      width: 58px;
      height: 100%;
      background-color: #e6e6e6;
    }
  }

  &--email {
    width: 100%;
    box-sizing: border-box;
  }

  &--text {
    width: 100%;
  }
}

.feedback-form__button {
  .button-style();

  display: block;
  width: 100%;
  padding: 17px 27px;

  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;

  &:hover {
    .button-style-hover();
  }

  &:active {
    .button-style-active();
  }

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 15px 70px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 148px;
  }
}

.feedback-form__submit-block {
  order: 6;
  display: flex;
  margin: 47px 0 49px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin: 46px 0 67px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 51px 0 55px;
  }
}

.feedback-form__required-fields {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);

  @media (min-width: @tablet-width) {
    position: initial;
    order: 7;
    width: auto;
    height: auto;
    margin: 0;
  }
}

.feedback-form__emotion-info {
  @media (min-width: @tablet-width) {
    width: 100%;
    order: 5;
    padding: 0;
  }
}

.feedback-form__input--radio {
  display: none;
}

.feedback-form__input--checkbox {
  display: none;
}

.feedback-form__phone-part {
  @media (min-width: @desktop-width) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }
}

.feedback-form__input-icon {
  position: absolute;
  right: 0;
  bottom: 0;

  height: 58px;
  width: 58px;

  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-position: 50%;

  &--tel {
    background-image: url("../img/icon-phone.svg");

    @media (min-width: @desktop-width) {
      right: 78px;
    }
  }

  &--email {
    background-image: url("../img/icon-mail.svg");

    @media (min-width: @desktop-width) {
      top: 0;
    }
  }
}
