.feedback-form__fieldset {
  padding: 24px 20px;
  border: none;
}

.feedback-form__legend {
  margin-bottom: 25px;

  font-size: @title-font-size;
  font-weight: bold;
  line-height: @title-line-height;
  color: #000000;
}

.feedback-form__item {
  margin-bottom: 20px;
}

.feedback-form__attractions-info {
  font-size: @title-font-size;
  font-weight: bold;
  line-height: @title-line-height;
  color: #000000;

  .list-style();
}

.feedback-form__contact-info {
  .list-style();
}

.feedback-form__label--contact-info {
  margin-bottom: 14px;
  display: block;
}

.feedback-form__impression-info {
  font-size: @title-font-size;
  font-weight: bold;
  line-height: @title-line-height;
  color: #000000;

  .list-style();
}

.feedback-form__person-info {
  .list-style();
  /*.content-font();*/
}

.feedback-form__button {
  margin: 50px auto;

  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;

  background-color: @light-grey-blue;
}

.feedback-form__failure {
  padding: 50px;

  text-align: center;

  background-color: #ffffff;
}

.feedback-form__success {
  padding: 50px;

  text-align: center;

  background-color: #ffffff;
}

.feedback-form__modal-button {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;

  background-color: @light-grey-blue;
  outline: none;
}
