.hotel-search {
  text-align: center;

  background-color: #ffffff;
}

.hotel-search__title {
  font-size: @title-font-size;
  font-weight: bold;
  line-height: @title-line-height;
  color: #000000;
}

.hotel-search__button {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;

  text-decoration: none;
  font-weight: bold;

  .button-style();

  &:hover {
    .button-style-hover();
  }

  &:active {
    .button-style-active();
  }
}

.hotel-search__map {
  width: 100%;
}

.hotel-search__wrapper {
  margin: 0 auto;
  max-width: 280px;
  padding: 33px 0 40px;

  @media (min-width: @tablet-width) {
    max-width: 460px;
  }
}
