.hotel-search {
  padding-top: 30px;
  padding-bottom: 50px;

  text-align: center;

  background-color: #ffffff;
}

.hotel-search__title {
  font-size: @title-font-size;
  font-weight: bold;
  line-height: @title-line-height;
  color: #000000;
}

.hotel-search__button {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;

  text-decoration: none;
  font-weight: bold;

  .button-style();
}

.hotel-search__button:hover {
  .button-style-hover();
}

.hotel-search__button:active {
  .button-style-active();
}

.hotel-search__map {
  width: 100%;
}
