.intro {
  text-align: center;
}

.intro__title {
  .title-style();
}

.intro__header {
  background: url("../../img/bg-intro-triangle-mobile.svg") no-repeat 50% bottom, url("../../img/bg-back-mobile@1x.jpg") no-repeat 50% 20%;
  background-size: 100% 57px, cover;
  background-color: #75525a;
  padding-top: 90px;
  padding-bottom: 85px;
}

