.page-footer {
  padding-top: 36px;
  padding-bottom: 25px;

  text-align: center;

  background-color: #ffffff;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  line-height: 26px;
}

.page-footer__socials {
  margin-bottom: 57px;
  margin-top: 48px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    padding-top: 57px;
  }

  .page-footer__copyright {
    flex-grow: 1;
  }

  .page-footer__socials {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-footer__hashtag {
    flex-grow: 1;
  }
}
