.page-footer {
  padding-bottom: 25px;

  text-align: center;

  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    padding: 23px 59px 25px;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 119px 25px;

    &--index {
      padding: 23px 119px 25px;
    }
  }
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  line-height: 26px;
}

.page-footer__socials {
  margin-bottom: 39px;
  margin-top: 37px;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 254px;
  }
}
