.reasons__item {
  text-align: center;

  background-color: #ffffff;
}

.reasons__item--blue {
  color: #ffffff;

  background-color: @light-grey-blue;
}

.reasons__item--gray {
  background-color: #eeeeee;
}

.reasons__title {
  .list-style();

  .title-style();
}

.reasons__title--white {
  color: #ffffff;
}

.reasons__description {
  .list-style();
}

.reasons__info {
  padding: 20px 20px;
}

.reasons__details {
  text-align: left;
  color: @black-two;

  background-color: #ffffff;
}

.reasons__detail-title {
  .list-style();

  .title-style();
}

.reasons__detail-item {
  padding: 40px 40px 0 70px;
}

.reasons__detail-description {
  .list-style();
}

@media (min-width: @tablet-width) {
  .reasons__info--blue {
    display: flex;
  }

  .reasons__details {
    display: flex;
    text-align: center;
  }

  .reasons__photo--diablo-bridge {
    order: 0;
  }

  .reasons__info-wrapper {
    flex-grow: 1;
  }

  .reasons__info-wrapper--diablo-bridge {
    order: 1;
  }

  .reasons__items-wrapper {
    display: flex;
  }

  .reasons__item--gray {
    flex-grow: 1;
  }

  .reasons__photo--true-city,
  .reasons__photo--diablo-bridge {
    width: 33%;
  }
}
