.reasons__item {
  text-align: center;

  background-color: #ffffff;
}

.reasons__item--blue {
  color: #ffffff;

  background-color: @light-grey-blue;
}

.reasons__item--gray {
  background-color: #eeeeee;
}

.reasons__title--gray {
  color: #000000;
}

.reasons__info {
  padding: 20px 20px;
}

.reasons__details {
  text-align: left;
  color: @black-two;

  background-color: #ffffff;
}

.reasons__detail-item {
  padding-left: 70px;
  padding-right: 40px;
}

@media (min-width: @tablet-width) {
  .reasons__info {
    display: flex;
  }

  .reasons__details {
    display: flex;
  }

  .reasons__photo--diablo-bridge {
    order: 0;
  }

  .reasons__info-wrapper--diablo-bridge {
    order: 1;
  }
}
