.reasons__item {
  text-align: center;

  background-color: #ffffff;
}

.reasons__item--blue {
  color: #ffffff;

  background-color: @light-grey-blue;
}

.reasons__item--grey {
  padding: 26px 0 44px;

  background-color: #eeeeee;

  @media (min-width: @tablet-width) {
    padding: 50px 0 110px;
  }
}

.reasons__title {
  .list-style();

  .title-style();
}

.reasons__title--white {
  color: #ffffff;
}

.reasons__description {
  .list-style();
}

.reasons__details {
  padding-bottom: 13px;
  padding-top: 33px;

  text-align: left;
  color: @black-two;

  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.reasons__detail-title {
  .list-style();

  .title-style();
}

.reasons__detail-item {
  flex-grow: 1;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 130px 0 52px;
  }
}

.reasons__detail-description {
  .list-style();
  margin-top: 13px;

  @media (min-width: @tablet-width) {
    margin-top: 19px;
  }
}

.reasons__info-wrapper {
  margin: 0 auto;
  padding: 55px 0;

  &--true-city {
    max-width: 265px;
  }

  &--diablo-bridge {
    max-width: 250px;
    padding-top: 39px;

    @media (min-width: @tablet-width) {
      max-width: 221px;
      order: 1;
    }
  }
}

.reasons__info--grey {
  margin: 0 auto;
  max-width: 245px;
}

.reasons__detail-wrapper {
  margin: 0 auto;
  max-width: 210px;
}

.reasons__photo {
  display: block;
  width: 100%;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .reasons__info--blue {
    display: flex;
  }

  .reasons__details {
    display: flex;
    text-align: center;
  }

  .reasons__photo--diablo-bridge {
    order: 0;
  }

  .reasons__info-wrapper {
    flex-grow: 1;
  }

  .reasons__items-wrapper {
    display: flex;
  }

  .reasons__item--grey {
    flex-grow: 1;
  }

  .reasons__photo {
    width: 66%;
  }

  .reasons__detail-item {
    &--motel {
      order: 1;
    }

    &--not-chineese {
      order: 3;
    }

    &--burger {
      order: 2;
    }
  }
}
