.video {
  padding-top: 26px;
  padding-bottom: 58px;

  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 68px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
    padding-bottom: 87px;
  }
}

.video__title {
  .title-style();
  .list-style();

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.video__description {
  .list-style();

  margin: 26px auto 35px;
  max-width: 277px;

  @media (min-width: @tablet-width) {
    max-width: 439px;
    margin-bottom: 73px;
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.video__content {
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 200px;

  @media (min-width: @tablet-width) {
    height: 500px;
  }
}

.video__toggle-control {
  position: absolute;
  top: -45px;
  left: 0;

  width: 100%;
  height: 45px;
  padding: 0 24px;
  box-sizing: border-box;

  text-align: left;

  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: @tablet-width) {
    position: relative;
    top: 0;
    flex-grow: 1;
    order: 2;
    width: auto;
    height: auto;
    padding: 0 38px;
    background-color: transparent;
  }
}

.video__controls {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 23px 24px;
  margin: 0 20px;

  background-color: @light-grey;

  //top: -46px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    //height: 93px;
    top: -92px;
    padding: 36px 41px 36px 35px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: @desktop-width) {
    padding: 35px 44px 36px 35px;
  }
}


.video__button {
  .list-style();

  display: block;
  height: 20px;

  color: @video-button-color;
  font-size: 0;

  outline: none;
  border: 0;
  background-color: transparent;


  &--replay {
    flex-grow: 1;
    text-align: left;
  }

  &--subtitles {
    margin-right: 30px;
  }

  @media (min-width: @tablet-width) {
    &--replay {
      flex-grow: 0;
      order: 1;
    }

    &--subtitles {
      order: 3;
    }

    &--fullscreen {
      order: 4;
    }
  }
}

.video__button-icon {
  fill: @video-button-color;

  @media (min-width: @tablet-width) {
    fill: #ffffff;
  }
}

.video__block {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    max-width: 648px;
    margin-bottom: -104px;
  }

  @media (min-width: @desktop-width) {
    max-width: 800px;
  }
}

.video__scale {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.2;
  position: relative;
  top: 23px;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.video__toggle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 21%;
  top: 19px;

  @media (min-width: @tablet-width) {
    left: 33%;
    top: -3px;
  }

  @media (min-width: @desktop-width) {
    left: 25%;
    top: -4px;
  }
}
