body {
  font-family: "PT Sans", "Arial", serif;
  font-weight: normal;
  font-size: @content-font-size;
  line-height: @content-line-height;
  color: @black-two;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}
