.list-style() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title-style() {
  font-size: @title-font-size;
  font-weight: bold;
  line-height: @title-line-height;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.button-style() {
  color: #ffffff;
  font-family: "PT Sans", "Arial", serif;

  background-color: @light-grey-blue;
  outline: none;
  border: none;
}

.button-style-hover() {
  color: #ffffff;

  background-color: #669ec0;
}

.button-style-active() {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
