@import "variables.less";

.reasons__item {
  background-color: #ffffff;
  text-align: center;
  padding: 40px 20px;
}

.reasons__title {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}

.reasons__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: @black-two;
}

.reasons__number {
  color: @black-two;
}

.reasons__item--blue {
  background-color: @light-grey-blue;
  color: #ffffff;
}

.reasons__item--gray {
  background-color: #eeeeee;

  .reasons__title {
    color: #000000;
  }

  .reasons__description {
    color: @black-two;
  }

  .reasons__number {
    color: @black-two;
  }
}

.reasons__details {
  background-color: #ffffff;
  text-align: center;
}

.reasons__detail-title {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.reasons__detail-description {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: @black-two;
}
